#constitle {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav li{ 
    color: white;
}


/* for footer */
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
    padding: 7px; /*added by thomas, to center logo with the circle*/
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136;
}

.fa-linkedin:before {
    content: "\f0e1";
}

*, :after, :before {
    box-sizing: border-box;
}

#fbutton {
    text-align: center;
    padding-top: 10px;
}

iframe{
    min-height: 40vw;
}
