
.intro-T {
  font-size: 120px;
  font-weight: bold;
  color: orange;
  -webkit-text-stroke: 2.5px;
  -webkit-text-stroke-color: #000;
}
    


@media screen and (max-width:769px) {
  .intro-T{
    font-size: 20px;
  }

}

.intro-M {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  color: orange;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}




@media screen and (max-width:360px) {
  .intro-M{
    font-size: 13px;
  }

  .intro-T{
    font-size: 40px;
  }

}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}





.btn-close {
  background-color: white;
}

@media (min-width: 300px) {
  #las-modal {
    padding: 5px;
  }
}

@media (min-width: 300px) {
  #las-modal {
    margin-top: 50px;
  }
}

